<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 col-md-2 col-xs-1">
        <div class="agrupar-logo-titulo" style="padding: 0px; margin: 0px; border: 0px;">
          <i  class="fa-solid fa-scroll" ></i>
          <h1 style="padding: 0px; margin: 0px; border: 0px;">Lista de Anotações</h1>
        </div>
      </div>

      <div class="col-4 col-md-10 col-xs-9 d-flex justify-content-end align-items-center">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
  </div>
</header>
