<div class="card" style="min-height: 35rem;" >
  <img
    [src]= "anotacao.Image ? anotacao.Image : '../../../assets/istockphoto-514159140-612x612.jpg'"
    class="card-img-top"
  />
  <div class="card-body">
    <h5 class="card-title">{{ anotacao.Titulo.length > 50 ? anotacao.Titulo.substr(0,60) + "..."  : anotacao.Titulo  }}</h5>

    <div>
      <p class="card-text">
        {{ anotacao.Descricao.length > 50 ? anotacao.Descricao.substr(0,60) + "..." : anotacao.Descricao  }}
      </p>
      <hr/>
      <div>
       <p style="font-size: 14px; color: green;"> {{anotacao.Dia.toLocaleString('en-GB', {hour12: false})}}</p>
      </div>
    </div>

    <div class="separar-botoes">
      <a href="#" class="btn btn-warning">Editar</a>
      <a href="#" class="btn btn-danger" (click)="ExcluirAnotacao(anotacao)">Excluir</a>
    </div>
  </div>
</div>
