<div class="container mt-5">
  <div class="row" style="text-align: center">
    <div class="col-12">
      <h1 style="color: #00af46">Crie sua nova Anotação:</h1>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 mt-5">
      <label for="exampleFormControlInput1" class="form-label">Titulo:</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Adicione uma imagem:</label>
      <input class="form-control" type="file" id="formFile" />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Anotação</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-2">
        <button style="padding: 10px" type="button" class="btn btn-success">
            <i class="fa-solid fa-plus"></i> Adicionar Anotação
          </button>
          
    </div>
    <div class="col-6 col-md-10 d-flex justify-content-end align-items-center">
        <a routerLink="">
            <button style="padding: 10px" type="button" class="btn btn-danger">
                Voltar
              </button>
        </a>
    </div>
  </div>
</div>
